@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
.header, .main-content .left-content .stories-container .story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content .right-content .side-profile .profile-sugestions .suggestion .right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-content .left-content .articles-container .article .article-header, .main-content .left-content .articles-container .article .article-description .description-actions, .main-content .right-content .side-profile .profile-header, .main-content .right-content .side-profile .profile-sugestions .suggestion .left-content, .main-content .right-content .side-profile .profile-footer .footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header .header-container, .main-content, .main-content .left-content .stories-container, .main-content .left-content .articles-container .article .article-description .description-container .comments-container .comment, .main-content .right-content .side-profile .profile-sugestions .suggestions-header, .main-content .right-content .side-profile .profile-sugestions .suggestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #fafafa;
  font-family: 'Roboto', sans-serif;
}

body .icon {
  width: 22px;
}

body a {
  text-decoration: none;
}

.header {
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 54px;
  padding: 0 20px;
  position: fixed;
  background: #ffffff;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.header .header-container {
  width: 100%;
  height: 100%;
  max-width: 975px;
}

.header .header-container .logo-container {
  width: 100px;
}

.header .header-container .logo-container img {
  width: 100%;
}

.header .header-container .search-bar-container {
  width: 215px;
  height: 25px;
  display: none;
  min-width: 125px;
  border-radius: 3px;
  background: #fafafa;
  border: 1px solid rgba(128, 128, 128, 0.3);
}

@media (min-width: 600px) {
  .header .header-container .search-bar-container {
    display: block;
  }
}

.header .header-container .search-bar-container input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 5px;
  background: #fafafa;
}

.header .header-container .search-bar-container input:focus {
  outline: none;
}

.header .header-container .menu-container img:not(:first-child) {
  margin-left: 22px;
}

.header .header-container .menu-container .profile-picture {
  border-radius: 50%;
}

.main-content {
  max-width: 935px;
  margin: 60px auto;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-content .left-content {
  top: 0;
  left: 0;
  width: 100%;
  max-width: 614px;
  margin-left: auto;
  position: absolute;
}

.main-content .left-content .stories-container {
  width: 100%;
  padding: 15px 0;
  max-width: 600px;
  border-radius: 3px;
  margin-bottom: 24px;
  background: #ffffff;
  border: 1px solid rgba(128, 128, 128, 0.3);
}

.main-content .left-content .stories-container .story {
  width: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-content .left-content .stories-container .story img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  position: relative;
}

.main-content .left-content .stories-container .story span {
  font-size: 12px;
}

.main-content .left-content .articles-container .article {
  width: 100%;
  max-width: 600px;
  border-radius: 3px;
  margin-bottom: 20px;
  background: #ffffff;
  border: 1px solid rgba(128, 128, 128, 0.3);
}

.main-content .left-content .articles-container .article .article-header {
  padding: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.main-content .left-content .articles-container .article .article-header img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.main-content .left-content .articles-container .article .article-header img:nth-child(3) {
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.main-content .left-content .articles-container .article .article-header span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 15px;
}

.main-content .left-content .articles-container .article .article-image img {
  width: 100%;
}

.main-content .left-content .articles-container .article .article-description {
  padding: 10px 15px;
}

.main-content .left-content .articles-container .article .article-description .description-actions img {
  width: 30px;
}

.main-content .left-content .articles-container .article .article-description .description-actions img:not(:last-child) {
  margin-right: 10px;
}

.main-content .left-content .articles-container .article .article-description .description-actions img:nth-child(4) {
  margin-left: auto;
}

.main-content .left-content .articles-container .article .article-description .description-container p {
  font-size: 14px;
  font-weight: bold;
}

.main-content .left-content .articles-container .article .article-description .description-container p a, .main-content .left-content .articles-container .article .article-description .description-container p span {
  font-weight: 400;
}

.main-content .left-content .articles-container .article .article-description .description-container p a {
  color: #00376b;
}

.main-content .left-content .articles-container .article .article-description .description-container .time {
  font-size: 10px;
  color: #8e8e8e;
}

.main-content .right-content {
  top: 0;
  right: 0;
  width: 300px;
  display: none;
  position: fixed;
}

@media (min-width: 1000px) {
  .main-content .right-content {
    display: block;
  }
}

.main-content .right-content .side-profile .profile-header {
  margin-top: 18px;
  margin-bottom: 10px;
}

.main-content .right-content .side-profile .profile-header .profile-image {
  width: 55px;
  height: 55px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 15px;
}

.main-content .right-content .side-profile .profile-header .profile-image img {
  width: 100%;
  height: 100%;
}

.main-content .right-content .side-profile .profile-header .profile-name h5 {
  font-size: 14px;
}

.main-content .right-content .side-profile .profile-header .profile-name p {
  font-size: 14px;
  color: #8e8e8e;
}

.main-content .right-content .side-profile .profile-sugestions .suggestions-header h5 {
  font-size: 14px;
  color: #8e8e8e;
  font-weight: 600;
}

.main-content .right-content .side-profile .profile-sugestions .suggestions-header h6 {
  font-size: 12px;
  font-weight: 600;
}

.main-content .right-content .side-profile .profile-sugestions .suggestion {
  padding: 10px 0;
}

.main-content .right-content .side-profile .profile-sugestions .suggestion .left-content {
  width: 80%;
}

.main-content .right-content .side-profile .profile-sugestions .suggestion .left-content .image-container {
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}

.main-content .right-content .side-profile .profile-sugestions .suggestion .left-content .image-container img {
  width: 100%;
  height: 100%;
}

.main-content .right-content .side-profile .profile-sugestions .suggestion .left-content .name-container p {
  font-size: 14px;
  font-weight: 600;
}

.main-content .right-content .side-profile .profile-sugestions .suggestion .left-content .name-container span {
  font-size: 12px;
  color: #8e8e8e;
}

.main-content .right-content .side-profile .profile-sugestions .suggestion .right-content {
  width: 20%;
}

.main-content .right-content .side-profile .profile-sugestions .suggestion .right-content button {
  border: none;
  font-weight: 600;
  color: #0095f6;
  background: transparent;
}

.main-content .right-content .side-profile .profile-footer .footer-nav {
  margin-bottom: 15px;
}

.main-content .right-content .side-profile .profile-footer .footer-nav ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.main-content .right-content .side-profile .profile-footer .footer-nav ul li {
  margin: 0 5px;
  font-size: 11px;
}

.main-content .right-content .side-profile .profile-footer .footer-nav ul li a {
  font-size: 11px;
  color: #c7c7c7;
  position: relative;
}

.main-content .right-content .side-profile .profile-footer .footer-nav ul li a::after {
  top: 50%;
  width: 2px;
  right: -5px;
  height: 2px;
  content: '\00B7';
  border-radius: 50%;
  position: absolute;
  background: #c7c7c7;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main-content .right-content .side-profile .profile-footer .footer-nav ul li span {
  font-size: 11px;
  color: #c7c7c7;
}

.main-content .right-content .side-profile .profile-footer .copyright {
  font-size: 11px;
  color: #c7c7c7;
  text-transform: uppercase;
}
/*# sourceMappingURL=main.css.map */